/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300');
@import "variables";
@import "mixins";

/*cambio de color de esquema a
this https://colorhunt.co/palette/252793
*/
/*BEM Modules*/
/*Header modulo 1*/
.header {
    &__nav {
        font-family: $font-OpenSans;
    }
    &__logo{
        & img{
        width:100px;
        }
    }

}

.header-color{
    background: $pastelGreen;
    /*background:$gradientheader;*/
}

.navbar-expand-lg {
    @include respond(bgtablet) {
        display: none;
    }

}

.dark-blue-text {
    color: $darkblue;
}

.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger6.svg?color=000');
}

.hamb-nav {
    display: none;
    margin-right: auto;

    @include respond(bgtablet) {
        display: block;
        position: sticky;
        top: 0px;
        z-index: 99999;

    }

    @include respond(tablet) {
        display: block;
        position: sticky;
        top: 0px;
        z-index: 99999;

    }

    @include respond(phone) {
        display: block;
        position: sticky;
        top: 0px;
        z-index: 9999;
        
    }

    .fa-1x {
        font-size: 1.5rem;
    }

    .navbar-toggler.toggler-example {
        cursor: pointer;
    }
    
    .hamb-menu{
        margin-right: 1em;
        margin-top: 2em;
    }


}


/*Carousel modulo 2*/
.carousel {
    &__inner {
        &--img {
            object-fit: cover;
            width: $width;
            height: $height;
            animation: zoom 30s;
        }

        &--cap {
            @include respond(phone) {
                max-height: 80%;
                overflow: hidden;

            }

            background-color: $blackOpaque;
            width: $width/3;
            border-radius: 1%;
            margin-left: 18%;
            margin-right: 15%;
            box-shadow: $bigshadow;

            & h3 {
                font-family: $font-Adidone-h2;
                color: white !important;
                /* blue colors for links too */
                text-decoration: none;
            }

            & p {
                font-family: $font-OpenSans;
                color: white !important;
                /* blue colors for links too */
                text-decoration: none;
            }




        }



    }
}


/* .carousel-indicators */
.carousel__control--next,
.carousel__control--prev {
    filter: invert(100%);
}

/*Banner central modulo 3*/
/*para que quede en su propio contenedor centrado*/
.catchPhrase {
    padding: 5%;

    &__right {
        text-justify: center;

        &--text {
            font-family: $font-Adidone-h2;
            text-transform: uppercase;
        }

    }

    &__left {
        &--text {
            font-family: $font-OpenSans;

        }
    }
}





/*Blog preview modulo 4*/
.blogReel {
    padding-bottom: 2%;

    &__card {
        &--title {
            font-family: $font-Adidone-h2;
        }

        &--text {
            font-family: $font-OpenSans;

        }

        &--img {
            object-fit: cover;
        }
    }

}


/*PAGINA NOSOTROS*/
/*nosotros bloque 5*/

.nosotros {
    margin-top: 150px;

    @include respond(phone) {
        margin-top: 40px;
    }

    @include respond(tablet) {
        margin-top: 40px;
    }

    @include respond(bgtablet) {
        margin-top: 40px;
    }

    &__title {
        font-family: $font-Adidone-h2;
    }

    &__text {
        font-family: $font-OpenSans;
    }
}

/*nosotros bloque 6*/

.card-img-top {
    height: 240px;
    object-fit: cover;
    width: $width;
}

.equipo {
    margin-top: 2rem;
    margin-left: 0.3rem;

    &__title {
        font-family: $font-Adidone-h2;
    }

}

.blog {
    margin-left: 0.3rem;
    margin-right: 0.3rem;

    &__card {
        &--img {
            object-fit: cover;

        }

        &--title {
            font-family: $font-Adidone-h2;
        }

        &--text {
            font-family: $font-OpenSans;
        }
    }
}

/*nosotros bloque 7*/

.contactanos {
    background-color: $lightGreenTranslucent;
    border-radius: 1%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 2rem;
    box-shadow: $lightShadow;

    &__title {
        font-family: $font-Adidone-h2;
    }

    &__text {
        font-family: $font-OpenSans;
    }
}

/*Footer blpque 8*/

.footer {
    background-color: $darkblue;
    margin: 0px;

    &__text {
        font-family: $font-OpenSans;
        color: white !important;

        &--img {
            max-height: 25px;
        }

    }

    &__feet {
        margin: 0px;
        /* display:flex;
        flex-direction: row;*/


        &--nav {
            width: 100%;

        }
    }


}

.signature {
    font-size: 12px;
    padding-top: 5em;
}
.foot{
    &__title{
        color:$lightGreen;
        font-family: $font-Adidone-h2;
        padding-top:1em;
    }

}

/*sitemap*/
.sitemap {
    margin-top: 150px;
    height: 70vh;

}

ul {
    margin: 0;
  }
  ul.dashed {
    list-style-type: none;
  }
  ul.dashed > li {
    text-indent: -5px;
  }
  ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
    color:$cardBlue;
  }


/*Propiedades*/

.content {
    /*filtros*/
    margin-top: 10%;
    overflow: none;
    font-family: $font-OpenSans;
}

.filtros{
    margin-bottom: $footerMargin;
    & .card-header{
        background-color: $lightPink;
    }
}

.PropertyCard{
    box-shadow: $lightShadow;

}



.thumbnail img {
    height: 250px;
    width: $width;
}

.img-thumb-bg {
    padding: 0;
    left: 3%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    overflow: hidden;
    min-height: 260px;
    position: relative;
    border-radius: 3px;
    object-fit: cover;

    & p {
        color: #fff;
        margin-bottom: 0;
        line-height: 16px;
        font-family: $font-OpenSans;
    }

    &__overlay {

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        background: rgba(0, 0, 0, 0);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000000 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);


        &--caption {
            bottom: -5%;
            height: 100%;
            font-family: $font-Adidone-h2;
            font-size: 12px;
            position: absolute;
            padding: 0 10% 10%;
            transition: all 0.3s ease-in-out;

        }


        &--tag a {
            color:black;
            padding: 0 5px;
            font-size: 12px;
            font-family: $font-OpenSans;
            font-weight: 600;
            border-radius: 2px;
            display: inline-block;
            text-transform: uppercase;
            background-color: $lightPink;
            box-shadow: $bigshadow;
        }

        &--title {
            margin-top: 5px;
            font-size: 18px;
            line-height: 20px;
            text-transform: uppercase;
            background-color: $blackOpaque;
            padding-left: 2%;
            border-radius: 2px;
        }

        &--title a {
            color: #fff;
        }

        &--title a:hover {
            color: $cardBlue;
        }

        &--meta-data {
            color:black;
            font-size: 12px;
            line-height: 12px;
            margin-bottom: 15px;
        }

        &--meta-data a {
            color:$blueGray;
        }

        &--meta-data a .fa {
            color: $cardBlue;
        }

        &--meta-data a:hover {
            color: $cardBlue;
        }

        &--caption .content {
            display: none;
        }
    }
}

.img-thumb-bg:hover .img-thumb-bg__overlay {
    background: $blueGray;
}

.img-thumb-bg:hover .img-thumb-bg__overlay--caption {
    bottom: 40%;
}

.img-thumb-bg:hover .img-thumb-bg__overlay--caption .content {
    display: block;
}


/*Bloque pagina main blog 11 desafio, loops, operadores y otros*/

.header-bar {
    height: 80px;
    @include respond (phone){
        height: 0px;
    }
    @include respond (tablet){
        height: 0px;
    }
    @include respond (bgtablet){
        height: 0px;
    }

}

.blogPost {
    margin-top: 150px;
    @include blogMargin(2rem, 0.2rem);
    box-shadow: $blogShadow;

    &__header {
        text-align: left;
        padding-left: 3rem;
        font-family: $font-Adidone-h2;
    }

    &__body {
        font-family: $font-OpenSans;
        text-align: left;
        padding-left: 3rem;
        padding-right: 2rem;
        display: flex;
        flex-direction: row;

        @include respond(tablet) {
            flex-direction: row;
        }

        @include respond(phone) {
            flex-direction: column-reverse;
        }

        &--img {
            background-color: $darkblue;
            width: 30rem;
            object-fit: cover;
            border-radius: 2px;

            @include respond(bgtablet) {
                width: 25rem;
                height: 100%;
            }

            @include respond(tablet) {
                width: 40vw;
                height: 100%;
        
            }

            @include respond(phone) {
                width: 100%;
                height: 100%;
            }
        }

    }

    &__footer {
        font-family: $font-OpenSans;
        padding: 1rem;
        width: $width;
        margin: 0px;

        &--date {
            padding-left: 2rem;
        }

        &--category {
            padding-left: 2rem;
        }
    }
}

/*SEO ADDONS*/

